@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.App {
  text-align: center;
  background-color: #40769F;
  min-width: 320px;
  font-family: "Fira Sans", sans-serif;
}
